In [1]:
# add dependencies
import pandas as pd
import glob
import os
import csv
import time
import pprint
from datetime import datetime, timedelta
from sqlalchemy import create_engine

In [2]:
# get the current working direcotry
os.getcwd()

'C:\\Users\\hxl08\\OneDrive\\Desktop\\Homework\\Tableau-Challenge'

In [3]:
files = os.listdir()
files

['.git', '.ipynb_checkpoints', 'citibike.ipynb', 'README.md', 'Resources']

In [4]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('Resources/JC*.csv')], ignore_index = True)

In [6]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,2019-06-01 00:05:55.7210,2019-06-01 00:11:11.9940,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,2019-06-01 00:08:09.0920,2019-06-01 00:12:50.0730,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,2019-06-01 00:13:11.8800,2019-06-01 00:49:14.3640,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,2019-06-01 00:13:30.1110,2019-06-01 00:49:54.2250,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,2019-06-01 00:13:31.8520,2019-06-01 00:15:51.7880,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [7]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [12]:
# check missing data in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299929 entries, 0 to 299928
Data columns (total 15 columns):
tripduration               299929 non-null int64
starttime                  299929 non-null object
stoptime                   299929 non-null object
start station id           299929 non-null int64
start station name         299929 non-null object
start station latitude     299929 non-null float64
start station longitude    299929 non-null float64
end station id             299929 non-null int64
end station name           299929 non-null object
end station latitude       299929 non-null float64
end station longitude      299929 non-null float64
bikeid                     299929 non-null int64
usertype                   299929 non-null object
birth year                 299929 non-null int64
gender                     299929 non-null int64
dtypes: float64(4), int64(6), object(5)
memory usage: 34.3+ MB

In [9]:
missing_df = df[(df['start station latitude']==0) |                         # selects rows with missing data
                (df['start station longitude']==0) |                         
                (df['end station latitude']==0) |
                (df['end station longitude']==0)]

In [14]:
print(df.isnull())

        tripduration  starttime  stoptime  start station id  \
0              False      False     False             False
1              False      False     False             False
2              False      False     False             False
3              False      False     False             False
4              False      False     False             False
...              ...        ...       ...               ...
299924         False      False     False             False
299925         False      False     False             False
299926         False      False     False             False
299927         False      False     False             False
299928         False      False     False             False

        start station name  start station latitude  start station longitude  \
0                    False                   False                    False
1                    False                   False                    False
2                    False                   False                    False
3                    False                   False                    False
4                    False                   False                    False
...                    ...                     ...                      ...
299924               False                   False                    False
299925               False                   False                    False
299926               False                   False                    False
299927               False                   False                    False
299928               False                   False                    False

        end station id  end station name  end station latitude  \
0                False             False                 False
1                False             False                 False
2                False             False                 False
3                False             False                 False
4                False             False                 False
...                ...               ...                   ...
299924           False             False                 False
299925           False             False                 False
299926           False             False                 False
299927           False             False                 False
299928           False             False                 False

        end station longitude  bikeid  usertype  birth year  gender
0                       False   False     False       False   False
1                       False   False     False       False   False
2                       False   False     False       False   False
3                       False   False     False       False   False
4                       False   False     False       False   False
...                       ...     ...       ...         ...     ...
299924                  False   False     False       False   False
299925                  False   False     False       False   False
299926                  False   False     False       False   False
299927                  False   False     False       False   False
299928                  False   False     False       False   False

[299929 rows x 15 columns]

In [ ]:
# # get data file names
# path =r'C:\Users\hxl08\OneDrive\Desktop\Homework\Tableau-Challenge\Resources'
# filenames = glob.glob(path + "/JC*.csv")

# dfs = []
# for filename in filenames:
#     dfs.append(pd.read_csv(filename))

# # Concatenate all data into one DataFrame
# big_frame = pd.concat(dfs, ignore_index=True)

In [ ]:
connection_string = "postgres+psycopg2://postgres:password@localhost:5432/citibike_db"
engine = create_engine(f'{connection_string}')
df.to_sql(name='citi_bike', con=engine, if_exists='append', index=False)

In [8]:
df.to_csv("citi_bike.csv", index=False)